
.review-component {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5% 0;
  padding: 5px;
  padding-bottom: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px 2px rgba(22, 21, 21, 0.3);
}

.review-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
}

.profile-section-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 50px;
  padding: 8px;
}
