
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .about-section {
  width: '100%';
  }

/* CSS for mobile layout (vertical list) */
.user-profile {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Disable grid layout for smaller screens */
/* CSS for mobile layout (vertical list) */
@media (max-width: 600px) {
  .user-profile {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  /* Typography Size */
  .user-profile .section {
    text-align: center; /* Center align text */
  }
  
  .user-profile .MuiTypography-root {
    font-size: 16px; /* Decrease font size */
  }
  
  /* Avatar Size */
  .user-profile .MuiAvatar-root {
    width: 100px; /* Reduce avatar size */
    height: 100px;
  }
  
  /* Margins and Padding */
  .user-profile .section {
    padding: 10px; /* Add padding */
  }
  
  /* Input Fields */
  .user-profile input[type="file"] {
    margin: 8px 0; /* Adjust margin */
  }
  
  .user-profile .MuiTextField-root {
    width: 100%; /* Full width */
  }
  
  /* Button Size */
  .user-profile .MuiButton-root {
    padding: 10px 20px; /* Increase button padding */
    font-size: 16px; /* Increase font size */
  }
}


/* CSS for desktop layout (2x2 grid) */
@media (min-width: 600px) {
  .user-profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
  }
}
